.pagination {
  margin-top: 20px;
  padding-bottom: 30px;

  .period, .num {
    height: fit-content;
    width: fit-content;
    padding: 3px 10px;
    margin-right: 5px;

    font-size: 14px;
  }

  .num {
    &.active {
      background-color: #0c1e29;
      color: white;
      border-radius: 20px;
    }
  }
}

@media (max-width: 480px){
  .pagination {
    .num, .period {
      padding: 2px 8px;
      font-size: 12px;
    }
  }
}