#sidebar {
  width: var(--sidebar-width);
  height: 100%;
  margin-right: 10px;
  position: relative;

  .company-name {
    margin-bottom: 50px;

    img {
      width: 61px;
      height: 61px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid rgba(0,0,0,0.25);
    }

    .name {
      font-size: 20px;
      font-weight: bold;
      margin: auto;
      margin-top: 5px;
    }
  }

  .section {
    margin-bottom: 10px;
    
    .label {
      width: 90%;
      border-bottom: 1px solid rgba(0,0,0,0.25);

      text-align: left;
      font-size: 11px;
      font-weight: 500;
      color: rgb(75, 75, 75);
    }

    .menu {
      margin-top: 5px;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        a {
          color: unset;
          text-decoration: none;
        }

        li {
          margin: 4px 0px 4px 0px;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 20px;    
          align-items: center;
          cursor: pointer;

          text-align: left;
          font-size: 14px;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }

          &.active {
            background-color: white;
            border-radius: 30px;
            cursor: default;
          }
        }
      }
    }
  }

  #logout {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    button {
      padding: 3px 25px;
    }
  }
}