#equipments-show-page {
  .action-btns {
    align-items: center;
  }

  .sub-title {
    text-align: left;
  }

  .equipment {
    margin-top: 20px;

    .carousel {
      width: 350px;
      height: 350px;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,0.125);

      .carousel-inner, .carousel-item {
        width: inherit;
        height: inherit;

        img {
          width: inherit;
          height: inherit;
        }

        .not-available {
          width: fit-content;
          height: fit-content;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);

          i {
            font-size: 50px;
          }

          .label {
            font-weight: bold;
          }
        }
      }
    }

    .details {
      margin-left: 30px;

      .group {
        margin-bottom: 10px;

        .label {
          font-size: 16px;
        }
      
        .value {
          font-size: 16px;
        }
      }
    }
  }

  .components {
    .sub-title {
      text-align: left;
    }

    .content {
      width: 100%;
      height: fit-content;
      overflow-x: auto;
      padding-bottom: 8px;

      .component-card {
        width: 200px;
        min-width: 200px;
        height: fit-content;
        margin-right: 20px;
        padding: 10px;

        .image {
          width: 100%;
          height: 110px;
          margin-bottom: 10px;

          img {
            width: inherit;
            height: inherit;
            object-fit: fill;
          }
        }

        .details {
          .group {
            width: fit-content;
            margin: auto;
            margin-bottom: 5px;

            .label {
              margin-top: -3px;

              font-size: 10px;
              text-align: center;
              color: rgb(90, 90, 90);
            }

            .value {
              font-size: 15px;
              text-align: center;
            }

            &.description {
              width: 100%;
              margin: 0;
              margin-top: 10px;

              .label {
                margin: 0;

                text-align: left;
              }
    
              .value {
                text-align: left;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .schematics {
    .carousel {
      width: 90%;
      height: 500px;
      margin: auto;

      .carousel-inner {
        width: 100%;
        height: inherit;

        .carousel-item {
          width: inherit;
          height: inherit;

          img {
            width: inherit;
            height: inherit;
          }
        }
      }
    }
  }
}