#equipments-show-page {
  .equipment {
    margin-top: 20px;

    .carousel {
      width: 350px;
      height: 350px;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,0.125);

      .carousel-inner, .carousel-item {
        width: inherit;
        height: inherit;

        img {
          width: inherit;
          height: inherit;
        }
      }
    }

    .details {
      margin-left: 30px;

      .group {
        margin-bottom: 10px;

        .label {
          font-size: 16px;
        }
      
        .value {
          font-size: 16px;
        }
      }
    }
  }
}