#orders-page {
  .filter-container {
    height: fit-content;
    padding: 10px;
    
    .search {
      position: relative;
      height: fit-content;
      width: 300px;

      input {
        border-radius: 30px;
        padding: 3px 10px;
        font-size: 12px;
      }

      i {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }
    }

    .actions {
      width: calc(100% - 300px);

      #new-order {
        img {
          width: 15px;
          height: 15px;
        }
      }
    }

    .filters {
      margin-top: 20px;

      .group {
        align-items: center;
        margin-right: 20px;

        .label {
          font-size: 12px;
          font-weight: bold;
        }

        select {
          border-radius: 30px;
          padding: 3px 5px;
          padding-right: 35px;
          margin-left: 5px;
          font-size: 12px;
        }
      }
    }
  }

  .table {
    margin-top: 20px;
  }

  #new-order-modal {
    p.caption {
      text-align: left;
      font-size: 11px;
    }

    #new-order-form {
      .form-group {
        textarea {
          width: 100%;
          height: 200px;
          resize: none;
        }
      }
    }
  }

  #order-details-modal {
    .group {
      align-items: center;
      margin-bottom: 5px;

      .label {
        font-size: 15px;
        font-weight: bold;
        margin-right: 5px;
        text-align: left;
      }

      .value {
        font-size: 15px;
        text-align: left;
      }
    }
  }
}