#inquiries-show-page {
  padding: 0;

  .header {
    width: 100%;
    height: 50px;
    background-color: #44546a;
    padding: 10px 20px;

    .title {
      color: white;
    }
  }

  .content {
    height: calc(100% - 101px);
    max-height: calc(100% - 101px);
    padding: 10px;
    overflow-y: auto;
  }

  .footer {
    width: 100%;
    height: 50px;
    background-color: #44546a;
    padding: 5px 20px;

    #message {
      width: 800px;
      height: 100%;
      border-color: white;
      color: white;
    }

    button {
      height: fit-content;
      margin: auto 0;

      &#send {
        width: 100px;
      }
    }
  }
}